<%- include("partials/header") -%>

<h1><%= homeContent.title %></h1>
<p><%= homeContent.content %></p>

<% posts.forEach(function(post){ %>
    <% const postContent = post.content.substring(0,100)+"..." %>
    <h1><%= post.title %></h1>
    <p><%= postContent %>
    <a href="/posts/<%=post._id %>">Read More</a></p>
<% }) %>

<%- include("partials/footer") -%>
